$color-primary: #101d2c;
$color-primary-light: #29465d;
$color-primary-dark: #2d4355;

$color-secondary: #e1b477;
$color-secondary-light: #dabb91;
$color-secondary-dark: #bc85a3;

$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

$color-transparent: rgba(0, 0, 0, 0);

$default-font-size: 1.6rem;
