.footer {
  background-color: $color-transparent;
  font-size: 3.4rem;
  color: $color-white;
  position: fixed;
  width: 50rem;
  height: 7rem;
  bottom: 1rem;
  @include respond(tab-port) {
    //border: 2px solid orange;
    bottom: 3rem;
  }

  &__logo-box {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__navigation {
    padding-top: 1rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      background-color: $color-transparent;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-secondary;
      box-shadow: 0 1rem 2rem rgba($color-secondary, 0.2); //NOTE TO MY SELF: CHANGE THE COLOR OF THE BOX.
      transform: rotate(5deg) scale(1.3);
    }
  }
}

.copyright {
  color: white;
  bottom: 0.8rem;
  position: fixed;
  @include respond(tab-port) {
    //border: 2px solid orange;
    font-size: 1rem;
  }
}
