/*.header {
  color: white;
  font-size: 3.5rem;
  width: 100%;
  position: absolute;
  top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  border: 2px solid red;

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    border-radius: 50%;
    top: 0.1rem;
    left: 4rem;
    height: 8rem;
    width: 9rem;
  }
}*/

.header {
  color: white;
  height: 6.8rem;
  width: 6.8rem;
  position: fixed;
  top: 3.8rem;
  left: 4rem;
  z-index: 2000;

  &__logo-box {
    top: 0.1rem;
    left: 4rem;
    height: 6.8rem;
    width: 6.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
  }
}
