.header {
  color: white;
  font-size: 3.5rem;
  width: 100%;
  border: 2px solid red;
  position: absolute;
  top: 0.1rem;

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px solid pink;
    border-radius: 50%;
    top: 0.1rem;
    left: 4rem;
    height: 8rem;
    width: 9rem;
  }
}
