.header {
  color: white;
  font-size: 3.5rem;
  width: 100%;
  position: absolute;
  top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-content: space-between;

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    border-radius: 50%;
    top: 0.1rem;
    left: 4rem;
    height: 8rem;
    width: 9rem;
  }
}
