.content-view {
  background-color: transparent;
  width: 60rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 18rem;
}

.overview {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.411);
  width: 40rem;
  height: 20rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  position: relative;
  overflow: hidden;

  &__quote {
    margin: 1rem;
    z-index: 10;
    position: relative;
    font-size: 1.8rem;
  }

  &::before {
    content: '\201C';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: pink;
    font-family: sans-serif;
    z-index: 1;
  }
}

.view {
  //border: 2px solid blue;
  width: 40rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__photo {
    //border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    &__fotokt {
      height: 15.8rem;
      width: 15.4rem;
      border-radius: 50%;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    }
  }

  .btn-inline {
    border: none;
    color: black;
    font-size: inherit;
    border-bottom: 1px solid currentcolor;
    padding-top: 1rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 2000;

    & span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: red;

      span {
        margin-left: 8px;
      }
    }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
