.tab-title {
  font-size: 4.5rem;
  font-weight: 600;
  background: $color-white;
  opacity: 0.5;
  color: $color-secondary;
  padding: 5px 0 30px 0;
  margin-bottom: 50px;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8rem;
  text-shadow: 1px 1px $color-grey-light;
}

.tab-wrap {
  width: 80%;
  //margin-left: 20%;
  position: relative;
  display: flex;
  top: 15.8rem;
}

input[type='radio'][name='tabs'] {
  position: absolute;
  z-index: 1000;
  display: none;
  &:checked {
    + .tab-label-content {
      label {
        color: $color-secondary;
        font-size: 1.8rem;
        font-weight: bold;
      }
      .tab-content {
        display: block;
        background-color: white;
        opacity: 0.8;
        color: $color-primary;
        position: absolute;
        top: 29px;
        width: 100%;
        height: 21rem;
        display: flex;
        flex-direction: row;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

label {
  cursor: pointer;
  color: $color-primary;
  background-color: $color-white;
  opacity: 0.6;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  transition: color 0.2s ease;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px $color-grey-light;
}

.slide {
  background: $color-secondary;
  width: calc(100% / #{$num-of-tabs});
  height: 3px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;

  .tab-content {
    position: absolute;
    top: 100px;
    left: 0px;
    line-height: 210%;
    display: none;
    padding: 2rem;
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 800px) {
  .tab-title {
    padding: 25px 0 70px 10%;
  }
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}

.fotokt {
  height: 9.8rem;
  width: 9.4rem;
  border-radius: 50%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  margin: 2.5rem 1rem 0 0;
  box-shadow: 0 0.8rem rgba($color-secondary, 0.1);
}
