.tab-title {
  font-size: 4rem;
  font-weight: 600;
  background: $color-white;
  opacity: 0.5;
  color: $color-secondary;
  padding: 8px 0 50px 0;
  margin-bottom: 50px;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8.8rem;
}

.tab-wrap {
  width: 80%;
  //margin-left: 20%;
  position: relative;
  display: flex;
  top: 18rem;
}

input[type='radio'][name='tabs'] {
  position: absolute;
  z-index: 1000;
  display: none;
  &:checked {
    + .tab-label-content {
      label {
        color: $color-secondary;
        font-size: 1.8rem;
        font-weight: bold;
      }
      .tab-content {
        display: block;
        background-color: white;
        opacity: 0.8;
        color: $color-primary;
        position: absolute;
        top: 29px;
        width: 100%;
        height: 15rem;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

label {
  cursor: pointer;
  color: $color-primary;
  background-color: $color-white;
  opacity: 0.6;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  transition: color 0.2s ease;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.slide {
  background: $color-secondary;
  width: calc(100% / #{$num-of-tabs});
  height: 3px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;

  .tab-content {
    position: absolute;
    top: 100px;
    left: 0px;
    line-height: 230%;
    display: none;
    padding: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 800px) {
  .tab-title {
    padding: 25px 0 70px 10%;
  }
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
