*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;

  @include respond(big-desktop) {
    //1 rem = 12px, 12/16=75%
    font-size: 100%;
  }

  @include respond(tab-land) {
    //1 rem = 12px, 12/16=75%
    font-size: 75%;
  }

  @include respond(tab-port) {
    //1 rem = 8px, 8/16=50%
    font-size: 50%; //width < 900?
  }

  @include respond(phone) {
    //1 rem = 9px, 9/16=56.25%
    font-size: 56.25%; //width < 1200 ?
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  display: table;
  width: 100%;
  height: 100%;
  /*background: url(https://images.unsplash.com/photo-1554315025-0f10196df289?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZXZlbmluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80)
    no-repeat center/cover fixed;
  //color: #000;*/

  background-image: linear-gradient(
      rgba($color-primary, 0.7),
      rgba($color-primary, 0.7)
    ),
    url(https://images.unsplash.com/photo-1509773896068-7fd415d91e2e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmlnaHQlMjBza3l8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
  background-size: cover;
  background-position: center;
  line-height: 1.6;
  position: relative;
  font-family: 'Bad Script', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Josefin Slab', serif;
  overflow: hidden;
}
//, 'Lucida Console', 'Courier New', monospace;

.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}
